extends layout

block content
  div.container
    h2 Disclaimer

    p I make no guarantee that the information shown is accurate or current.
    p This is a personal project I made for fun to learn NodeJS during the school break.
      | I apologize if there are any errors or stupidity in the code.
    p Feel free to contact me on 
      a(href="http://github.com/baopham/vancouver-fountains") Github
      |  if you have any suggestions.
