extends layout

block content

  div.row
    div#panel.col-md-4
      div.panel.panel-primary
        div.panel-heading.text-center
          h3.panel-title Find Your Drinking Fountains
        div.panel-body
          p.lead Time taken: 
            span#timetaken

          form#search-form(role="form")
            div.form-group
              label(for="search-input") Search
              div.input-group
                input#search-input.form-control(type="text", name="location", placeholder="Downtown")
                span.input-group-addon
                  small Vancouver, BC
                span.input-group-btn
                  button.btn.btn-default(type="submit")
                    i.glyphicon.glyphicon-search

              span.help-block Enter an address, location or intersection to find 20 closest drinking fountains within 5 km

              strong OR
              button#usegmm.btn.btn-primary(type="button", style="margin-left: 10px") Find All

          div#search-result
          div#markerlist.list-group

    div.col-md-8
      div#map