doctype html
html(ng-app="fountain")
  head
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(name="Description" content="Find a drinking fountain in Vancouver, BC")
    title= title
    script(src="/js/markerclusterer.min.js")
    script(src="http://www.google.com/jsapi")
    script(src="/js/gm.js")
    script
      | google.load('maps', '3', {
      |   other_params: 'sensor=false'
      | });
      | google.setOnLoadCallback(ff.init);
      | google.load("jquery", "1");
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
  body
    div#wrap(ng-controller="MainCtrl")
      noscript
        div.dim
          div.modal.show(tabindex="-1", role="dialog", aira-labelledby="noscriptModal", aria-hidden="true")
            div.modal-dialog
              div.modal-content
                div.modal-header
                  h4.modal-title#noscriptModal JavScript disabled
                div.modal-body
                  p For full functionality of this site, it's best that you enable JavaScript. Please follow the    
                      a(href="http://www.enable-javascript.com/", target="_blank") instructions  
                      | on how to enable JavaScript in your browser
      <a href="https://github.com/baopham/vancouver-fountains"><img style="z-index: 1005; position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
      div.navbar.navbar-default.navbar-static-top(role="navigation")
        div.container
          div.navbar-header.navbar-right
            a.navbar-brand(href="/")
              strong Vancouver Fountain Finder

      block content

    div#footer(role="contentinfo")
      hr
      div.container
        ul.list-inline.text-center
          li &copy; #{new Date().getFullYear()} 
            a(href="http://baopham.herokuapp.com") Bao Pham
          li
            i.glyphicon.glyphicon-star
            |  Data provided by 
            a(href="http://data.vancouver.ca/datacatalogue/drinkingFountains.htm")
              | City of Vancouver
            a(href="http://vancouver.ca/your-government/terms-of-use.aspx")
              |  (Terms)
          li
            i.glyphicon.glyphicon-star  
            |  I do not collect any personal information in anyway

    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/ui.js")
    script
      | $(window).resize(function () {
      |   $('#map').css('height', $(window).height());
      | }).resize();
    script(src="/js/bootstrap-3.0.3-modal.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js")
