doctype html
html
  head
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title= title
    script(src="/js/markerclusterer.min.js")
    script(src="http://www.google.com/jsapi")
    script(src="/js/gm.js")
    script
      | google.load('maps', '3', {
      |   other_params: 'sensor=false'
      | });
      | google.setOnLoadCallback(ff.init);
      | google.load("jquery", "1");
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
  body
    <a href="https://github.com/baopham/vancouver-fountains"><img style="z-index: 99999; position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    div.navbar.navbar-default.navbar-static-top(role="navigation")
      div.container
        div.navbar-header.navbar-right
          a.navbar-brand
            strong= title

    block content

    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/ui.js")
    script
      | $(window).resize(function () {
      |   var h = $(window).height(),
      |        offsetTop = 60; // Calculate the top offset
      |   $('#map').css('height', (h - offsetTop));
      | }).resize();
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")

