extends layout

block content
  div.container
    h2 Privacy

    p I do not collect any personal information in anyway and also do not wish to.
    p The site uses 
      a(href="http://www.gwtproject.org/doc/latest/DevGuideHtml5Storage.html") HTML5 localStorage 
      | to provide a better user experience, e.g: what you search last will be there the next time you visit the site;
      | however, I will not have access to the data since the local storage is client-side only. You can take a look at the code on 
      a(href="http://github.com/baopham/vancouver-fountains") Github 
      | if you don't believe me.
