html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#markerlist {
  overflow-y: scroll;
  max-height: 380px;
  margin-top: 20px;
}

.info {
  width: 200px;
}

.info img {
  border: 0;
}

.info-body {
  overflow: hidden;
}

.info-img {
  height: 220px;
  width: 200px;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
  box-shadow:none;
  -webkit-box-shadow:none;
  border-color:#cccccc;
}

/**********************
 * Override BootStrap
***********************/
.row {
  margin-left: 0;
  margin-right: 0;
}